.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body {
  font-family: Arial, sans-serif;
}

header {
  background-color: #069; /* Replace with actual color from the website */
  color: white;
  padding: 10px;
  text-align: center;
}

nav {
  background-color: #000; /* Replace with actual color */
  padding: 10px;
}

nav a {
  color: white;
  margin-right: 10px;
  text-decoration: none;
}

.table-container {
    overflow-x: auto;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: right;
}

th {
    background-color: #333;
    color: white;
    text-align: center;
}

/* Style for the first column */
td:first-child, th:first-child {
    background-color: #333;
    color: white;
    text-align: center; /* Center align if needed */
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

/* Sticky header and first column */
th:first-child, td:first-child {
    text-align: right;
    position: sticky;
    left: 0;
    z-index: 1;
}

