{% extends 'base.html' %}

{% block content %}
  <section>
    <h2>Block Charges</h2>

    <form method="POST">
      <label for="estate">Select Estate:</label>
      <select name="estate" id="estate">
        <option value="" selected disabled>Select an estate</option>
        {% for estate in estates %}
          <option value="{{ estate.ID }}">{{ estate.Estate_Name }}</option>
        {% endfor %}
      </select>

      <label for="block">Select Block:</label>
      <select name="block" id="block" disabled>
        <!-- Options will be dynamically populated using JavaScript -->
      </select>

      <button type="submit">Show Charges</button>
    </form>

    <p>Estate Rateable Value: {{ estate.Estate_RV }}</p>
    <p>Block Rateable Value: {{ block.Block_RV }}</p>

    {% if charges %}
      <table>
        <thead>
          <tr>
            <th>Charge Category</th>
            {% if charges %}
              {% for charge_group in charges %}
                <th>{{ charge_group.Year_End }}</th>
              {% endfor %}
            {% endif %}
          </tr>
        </thead>
        <tbody>
          {% if charges %}
            {% for charge_type in charge_types %}
              <tr>
                  <td>{{ charge_type }}</td>
                  {% for charge_group in charges %}
                  <td>£{{ charge_group.charges[charge_type] }}</td>
                  {% endfor %}
              </tr>
            {% endfor %}
          {% endif %}
        </tbody>
      </table>
    {% endif %}
  </section>

<script>
  document.getElementById('estate').addEventListener('change', function () {
    var selectedEstateId = this.value;  // Get the selected estate ID
    var blockDropdown = document.getElementById('block');

    // Clear existing options
    blockDropdown.innerHTML = '<option value="" disabled selected>Select Block</option>';

    // Fetch blocks for the selected estate using AJAX
    fetch('/get_blocks/' + selectedEstateId)
      .then(response => response.json())
      .then(data => {
        // Populate the 'block' dropdown options
        data.blocks.forEach(block => {
          var option = document.createElement('option');
          option.value = block.ID;
          option.text = block.Block_Name;
          blockDropdown.appendChild(option);
        });

        // Enable the 'block' dropdown
        blockDropdown.disabled = false;
      })
      .catch(error => {
        console.error('Error fetching blocks:', error);
      });
  });
</script>
{% endblock %}
