{% extends 'base.html' %}

{% block content %}
    <section>
        <h2>Welcome to the LSC Comparator!</h2>
        <p>This tool has been created by Lambeth residents to help each other compare service charge costs across estates and blocks in the borough.</p>
        <p>You can use it to help spot anomalies in your service charge which you can then query with Lambeth Housing Management.</p>
        <p>Remember, Lambeth under the terms of your lease, service charges must be "reasonable".
        Whilst this is subjective, you can use these tools to show how you may be overcharged in your block.</p>
        <p>For example, do you live on an estate with multiple identical blocks?  If so, are you all charged the same for services?</p>
    </section>
    <section>
        <h2>What can I do here?</h2>
        <p>We've collated service charge data for estates and blocks across the borough, so that you can see how your charges compare to those of others.</p>
        <p>You can use the Block pages to see how charges compare across estates and blocks in the borough.</p>
        <p>If you know the "Dwelling Rateable Value" for your flat, you can see the charges you pay, and compare them to other estates/blocks.</p>
        <p>Lambeth calculates how much you must pay for each service by taking the total cost and apportioning it across all the flats in the block using "Rateable Values".
            These numbers are quoted on your service charge invoice.</p>
        <p>Block charges are calculated as: Total_Service_Cost / Block_Rateable_value * Dwelling_Rateable_Value</p>
        <p>Estate charges are calculated as: Total_Service_Cost / Estate_Rateable_value * Dwelling_Rateable_Value</p>
    </section>
    <section>
        <h2>Block Charges</h2>
        Use the Block Charges tool to see the service charge costs for estates and blocks across the borough.
    </section>
    <section>
        <h2>Premise Charges</h2>
        Enter your Dwelling Rateable Value to see the charges for your flat on your estate.
        Alternatively, use your Dwelling Rateable Value to see what your charges would be on a different block on the same estate.
    </section>
    <section>
        <h2>Block Charge Comparisons</h2>
        Select 2 different estates/blocks and compare the block level charges side by side for any year for which we have data.
    </section>
    <section>
        <h2>Premise Charge Comparisons</h2>
        Enter your Dwelling Rateable Value and select 2 different estates/blocks and compare the premise level charges side by side for any year for which we have data.
        This would allow you to see how much you would have to pay if your flat was in a different block.
    </section>
{% endblock %}
