.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

:root {
  --header-color: #122d42;
  --footer-color: #122d42;
  --nav-color: #000;
  --hover-color: #123;
  --main-color: #122d42;
  --secondary-color: #1d486a;
  --link-block-color: #29b3ad;
  --link-block-highlight: #122d42;
  --error-highlight: #29b3ad;
  --table-header: #333;
  --alternate-row: #122d42;
}

body {
  font-family: Arial, sans-serif;
}

header {
  background-color: var(--header-color);
  color: white;
  padding: 10px;
  text-align: center;
}

footer {
  background-color: var(--footer-color);
  color: white;
  margin-top: 10px;
  align-items: center; /* Vertically center the content */
  text-align: center;
  padding: 5px 10px; /* Adds padding for some breathing room */
  font-size: 10px;
}

.kofiButton {
  position: fixed;
  top: 40px;
  right: 20px;
}

nav {
  background-color: var(--nav-color);
  padding: 10px;
}

nav .separator {
    color: white;
}

nav a {
    display: inline-block; /* Or flex, block, etc., depending on your layout */
    padding: 5px 10px; /* Adjust padding as needed */
    text-decoration: none; /* Optional: removes the underline from links */
    color: white; /* Set your text color */
    background-color: black; /* Set initial background color */
    transition: background-color 0.3s; /* Smooth transition for the background color */
}

nav a:hover {
    background-color: var(--hover-color); /* Background color on hover */
}

.scrollToTopButton {
  position: fixed;
  bottom: 20px;
  right: 20px;
  height: 50px;
  width: 50px;
  font-size: 24px;
  border-radius: 50%;
  background-color: var(--footer-color);
  color: white;
  border: none;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  display: none; /* Initially hidden */
}

.scrollToTopButton.show {
  display: block; /* Show button when needed */
}

/* Homepage styles */

.home-layout {
  width: 100%; /* Set the container width to 80% of the window */
  margin: 0 auto; /* Center the container horizontally */
  display: grid;
  grid:
    "home-section home-section home-section home-section home-section home-section home-section home-section . . . ." auto
    ". . . . querying-section querying-section querying-section querying-section querying-section querying-section querying-section querying-section" auto
    "cross-borough-analysis cross-borough-analysis cross-borough-analysis cross-borough-analysis cross-borough-analysis cross-borough-analysis cross-borough-analysis cross-borough-analysis cross-borough-analysis cross-borough-analysis cross-borough-analysis cross-borough-analysis" auto
    "borough-blocks borough-blocks borough-blocks borough-blocks borough-blocks borough-blocks borough-blocks borough-blocks borough-blocks borough-blocks borough-blocks borough-blocks" auto
    / 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  gap: 16px 8px;
  align-content: start;
  align-items: start;
}

.home-layout a {
  text-decoration: none;
}

.home-borough-layout a {
  color: white;
}

.borough-blocks { grid-area: borough-blocks; }
.cross-borough-analysis { grid-area: cross-borough-analysis; }
.querying-section { grid-area: querying-section; }
.home-section { grid-area: home-section; }

.home-content {
    background-color: var(--main-color); /* Solid background color */
    align-items: center;
    justify-content: center;
    color: white; /* White font color */
    padding: 20px; /* Inner spacing */
}

.home-content h2, .home-content h3 {
    margin-top: 0; /* Removes the top margin */
    padding-top: 0px; /* Optional: Adds some padding at the top if needed */
    text-align: center; /* Optional: center the text */
 }

.home-content a {
  color: white;
  font-weight: bold;
}

.querying-content {
    background-color: var(--secondary-color); /* Solid background color */
    align-items: center;
    justify-content: center;
    color: white; /* White font color */
    padding: 20px; /* Inner spacing */
}

.querying-content h2, .querying-content h3 {
    margin-top: 0; /* Removes the top margin */
    padding-top: 0px; /* Optional: Adds some padding at the top if needed */
    text-align: center; /* Optional: center the text */
 }

.querying-content a {
  color: white;
  font-weight: bold;
}

.analysis-content {
    background-color: var(--link-block-color); /* Solid background color */
    align-items: center;
    justify-content: center;
    color: white; /* White font color */
    padding: 20px; /* Inner spacing */
}

.analysis-content:hover {
  background-color: var(--link-block-highlight); /* Change this to the color you want on hover */
  transition: background-color 0.3s ease; /* Smooth transition effect */
}

.analysis-content h2, .analysis-content h3 {
    margin-top: 0; /* Removes the top margin */
    padding-top: 0px; /* Optional: Adds some padding at the top if needed */
    text-align: center; /* Optional: center the text */
 }

.home-borough-layout {
  width: 100%;
  display: flex;
  gap: 16px;
  flex-wrap: wrap;
  justify-content: space-between;
}

.home-borough-layout > div {
  flex: 1 1 calc(20% - 16px); /* Set the width to roughly equal size, taking into account the gap */
  padding-bottom: calc(20% - 16px); /* Set height equal to width */
  box-sizing: border-box;
  position: relative; /* Allow inner element to be absolutely positioned */
  min-width: 175px; /* Optional: Set a minimum width to ensure content readability */
  min-height: 175px; /* Optional: Set a minimum width to ensure content readability */
}

.borough-block {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--link-block-color); /* Optional: Add a background color for better visibility */
}

.borough-block:hover {
  background-color: var(--link-block-highlight); /* Change this to the color you want on hover */
  transition: background-color 0.3s ease; /* Smooth transition effect */
}

/* Borough Analysis, Querying Charges, Major Works, and About pages */

.content-container {
    width: 100%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr; /* Single column layout */
    justify-items: center; /* Stretch grid items to fill the container width */
    box-sizing: border-box; /* Ensure padding is included in the width */
    gap: 20px; /* Space between rows */
}

.content-container p {
    max-width: 100%;
}

.content-container a {
  color: white;
  font-weight: bold;
}

.text-row, .image-row {
    background-color: var(--main-color); /* Background color for text rows */
    padding: 10px; /* Padding around the content */
    color: white; /* White text for text rows */
    text-align: left; /* Left-align the text */
    width: 100%;
    max-width: 100%;
    box-sizing: border-box; /* Include padding in the width calculation */
}

/* Borough Home Page */
/* See Home Page for home-content styles */

.full-width {
    width: 100%;
    padding: 10px;
    background-color: var(--main-color);
    color: white;
    text-align: center;
    margin-bottom: 16px;
    box-sizing: border-box;
}

.full-width a {
  text-decoration: none;
  color: white;
}

.borough-analysis-content {
    background-color: var(--link-block-color);
}

.borough-analysis-content:hover {
  background-color: var(--link-block-highlight); /* Change this to the color you want on hover */
  transition: background-color 0.3s ease; /* Smooth transition effect */
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* 2 equal-width columns */
    gap: 16px;
    box-sizing: border-box;
}

.grid-item {
    padding: 10px;
    text-align: center;
    background-color: var(--link-block-color);
    box-sizing: border-box;
}

.grid-item:hover {
  background-color: var(--link-block-highlight); /* Change this to the color you want on hover */
  transition: background-color 0.3s ease; /* Smooth transition effect */
}

.grid-item a {
  text-decoration: none;
  color: white;
}

/* Borough Analysis */

.borough-analysis-page-content {
    width: 100%;
    padding: 10px;
    background-color: var(--main-color);
    color: white;
    margin-bottom: 16px;
    box-sizing: border-box;
}

.borough-analysis-page-content h2, .borough-analysis-page-content h3 {
    margin-top: 0; /* Removes the top margin */
    padding-top: 0px; /* Optional: Adds some padding at the top if needed */
    text-align: center; /* Optional: center the text */
 }

.borough-analysis-page-content a {
  color: white;
  font-weight: bold;
}

.alt-color {
    background-color: var(--secondary-color);
}

.expand-button {
  cursor: pointer;
  color: white;
  font-weight: bold;
}

/* Container for both estate and block info */
.estate-block-info-container {
    display: flex;
    justify-content: space-around;
    gap: 10px;
    width: 100%; /* Full width */
    margin: 16px auto;
}

/* Common styles for estate-info and block-info */
.estate-info, .block-info, .premise-info {
    flex: 1;
    background-color: var(--secondary-color); /* Background color */
    color: white; /* Font color */
    padding: 10px;
    box-sizing: border-box; /* Ensures padding doesn't affect overall width */
}

.first-block {
    background-color: var(--main-color); /* Background color */
}

.second-block {
    background-color: var(--secondary-color); /* Background color */
}

.analysis-summary {
    width: 100%;
    padding: 10px;
    background-color: var(--main-color);
    color: white;
    margin-bottom: 16px;
    box-sizing: border-box;
}

.analysis-summary li {
    padding: 0.25em;
}

.analysis-content-container {
    display: grid;
    grid-template-columns: 1fr; /* Single column layout */
    justify-items: center; /* Center grid items horizontally */
    gap: 20px; /* Space between grid items */
}

.analysis-block-container {
    display: grid;
    grid-template-columns: 1fr; /* Single column layout */
    justify-content: space-around;
    width: 100%; /* Full width */
}

.analysis-block-container a {
  color: white;
  text-decoration: none;
}

.analysis-block-content {
    flex: 1;
    width: 100%;
    padding: 10px;
    background-color: var(--secondary-color);
    color: white;
    margin-bottom: 16px;
    box-sizing: border-box;
}

/*
.charge-block {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--link-block-color);
}

.charge-block:hover {
  background-color: var(--link-block-highlight);
  transition: background-color 0.3s ease;
}*/

/*
.home-content table {
    background-color: white;
    color: black;
}*/

.stats-table-container {
  display: flex;
  justify-content: flex-start;
  padding: 10px;
}

.stats-table-container table {
  margin-right: 10px
}

.collapsible-content {
  padding: 20px;
  border: 1px solid #ccc;
  margin-top: 10px;
}

.table-container {
    overflow-x: auto;
    width: 100%; /* Full width */
}

table {
    border-collapse: collapse;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: right;
}

th {
    background-color: var(--table-header);
    color: white;
    text-align: center;
}

/* Style for the first column */
td:first-child, th:first-child {
    background-color: var(--table-header);
    color: white;
    text-align: center;
}

td.error-cell {
    background-color: var(--error-highlight);
}

tr:nth-child(even) {
    background-color: var(--alternate-row);
}

tr.error-cell {
    background-color: var(--error-highlight);
}


/* Sticky header and first column */
th:first-child, td:first-child {
    text-align: right;
    position: sticky;
    left: 0;
    z-index: 1;
}

.page-content-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: left;
}

/* Styles for lists within estate-info and block-info */
.estate-info ul, .block-info ul, .premise-info ul {
    list-style-type: none; /* Removes bullet points */
    padding: 0;
}

/* Styles for dropdown */
select {
    background-color: white; /* Background color for dropdown */
    border: 1px solid #ddd; /* Flat border style */
    color: #333; /* Font color */
    padding: 5px 10px;
    border-radius: 4px; /* Optional: for rounded corners */
    width: 100%; /* Optional: makes the dropdown full width */
    box-sizing: border-box; /* Ensures padding doesn't affect overall width */
}




.home-links-content-container {
    display: grid;
    grid-template-columns: 1fr 1fr; /* Two columns of equal width */
    gap: 20px; /* Space between grid items */
    width: 100%; /* Fit the grid width to its content */
    align-items: stretch; /* Stretches items to fill the container (this doesn't seem to work) */
}

/* Common styles for all content blocks inside the grid */
.home-links-content-container div {
    background-color: var(--secondary-color); /* Solid background color */
    color: white; /* White font color */
    padding: 20px; /* Inner spacing */
    border-radius: 5px; /* Optional: rounded corners */
    min-height: 100px; /* Set this so blocks match their height to a minimum */
}

.home-links-content-container a {
  color: white;
  text-decoration: none;
}

.home-links-content-container h2 {
    margin-top: 0; /* Removes the top margin */
    padding-top: 0px; /* Optional: Adds some padding at the top if needed */
    text-align: center; /* Optional: center the text */
 }

.error-text {
    color: #F4C7C3;
    font-weight: bold;
}

.text-content-container {
    display: grid;
    grid-template-columns: 1fr; /* Single column layout */
    justify-items: center; /* Center grid items horizontally */
    gap: 20px; /* Space between grid items */
    width: 80%;
}

.inner-container {
    width: 100%; /* Adjust as needed */
    justify-content: left;
}

.video-responsive {
    overflow: hidden;
    padding-bottom: 56.25%; /* Percentage for 16:9 aspect ratio */
    position: relative;
    height: 0;
}

.video-responsive iframe {
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute;
}
